<!DOCTYPE html>
<html>
<head>
	<title>More Images!</title>
</head>
<body>
	<figure>
		<img src="templates/ff.jpg" width="500px" height="400px" alt="Amusement Park">
		<figcaption>This is why I love Halloween</figcaption>
	</figure>
	<figure>
		<img src="templates/nj.jpg" width="200px" height="600px" alt="New Jersey">
		<figcaption>I'm a New Jersey girl...</figcaption>
	</figure>
	<figure>
		<img src="templates/ny.jpg" width="500px" height="300px" alt="New York">
		<figcaption>but I love New York</figcaption>
	</figure>
	<figure>
		<img src="templates/art.jpg" width="650px" height="300px" alt="colorful artwork">
		<figcaption>Looking at art calms me.</figcaption>
	</figure>
	<figure>
		<img src="templates/curly.jpg" width="400px" height="525px" alt="A girl with curly hair">
		<figcaption>I have long curly hair</figcaption>
	</figure>
</body>
</html>